page-about {

    .scroll-content {
        background-color: map-get($colors, light);
        overflow-y: auto !important;
    }

    ion-card-header {
        font-weight: bold;
    }
    .col {
        padding: 2px;
        border: 0px;
        margin: 0px;
    }
    .grid {
        padding: 1px;
    }
    canvas {
        min-width: 100%;
        min-height: 100%;
    }
}





